body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    
}

.about-title {
    display: flex;
    justify-content: center;
    margin: 10px;
    
}
.about-content {
    display: flex;
    justify-content: center;
    text-align: center;
}
footer {
    background-color: blanchedalmond;
    width: 100%;
}
.bi {
  vertical-align: middle;
}
.nav-link svg {
  transition: transform 0.2s ease;
}
.nav-link:hover svg {
  transform: scale(1.0001);
}
.card {
  /* Example styles */
  border: 2px solid  blanchedalmond; /* Bootstrap green */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.25);
}
.basket-item {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.image-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Basketpicture {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.button-group {
  margin-top: 12px;
  display: inline;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}
.plus ,.del,.delete{
  border-radius: 15px;
}