body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    
}

.about-title {
    display: flex;
    justify-content: center;
    margin: 10px;
    
}
.about-content {
    display: flex;
    justify-content: center;
    text-align: center;
}
footer {
    background-color: blanchedalmond;
    width: 100%;
}
.bi {
  vertical-align: middle;
}
.nav-link svg {
  transition: transform 0.2s ease;
}
.nav-link:hover svg {
  transform: scale(1.0001);
}
.card {
  /* Example styles */
  border: 2px solid  blanchedalmond; /* Bootstrap green */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.25);
}
