<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("partials/header") %>
    <div>
      <h1 class="about-title">Tendalo Bags</h1>
      <br />
    </div>
    <p class="about-content">
      Where Sustainability Meets Style Tendalo Bags offers a fresh take on
      everyday carry by blending aesthetics, durability, and ethical sourcing.
      Each bag is Eco-Friendly Crafted from sustainable materials that reduce
      environmental impact Waterproof & Weather-Resistant Designed to protect
      your essentials, rain or shine Durable & Long-Lasting Built to support
      your lifestyle with timeless strength Ethically Made Sourced and produced
      with care for people and the planet Whether you're commuting, exploring,
      or building your brand, Tendalo Bags carry your story—with purpose.
    </p>
    <%- include("partials/footer") %>
    <script src="
      https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
